.land-page{
    background-image: url(../media/hygeia.png);
    height: 100vh;
}
.logo{
    background-color: thistle;
    color: white;
    font-size: 20px;
}
hr{
    width: 10px;
    border-bottom: 2px solid goldenrod;
}